In [84]:
import pandas as pd

In [85]:
tsf=pd.read_csv('training_set_features.csv')

In [86]:
tsl=pd.read_csv('training_set_labels.csv')

In [87]:
tsf['xyz_vaccine']=tsl['xyz_vaccine']

In [88]:
tsf['seasonal_vaccine']=tsl['seasonal_vaccine']

In [89]:
tsfc=tsf.dropna()

In [90]:
a=tsfc.columns

In [91]:
xv1=tsfc.loc[tsfc['xyz_vaccine']==1]

In [92]:
xv1.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
7,7,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,Own,Employed,bhuqouqj,Non-MSA,2.0,0.0,pxcmvdjn,xqwwgdyp,1,1
10,10,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Employed,lzgpxyit,"MSA, Not Principle City",2.0,0.0,xicduogh,qxajmpny,1,1
11,11,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,Own,Employed,oxchjgsf,Non-MSA,1.0,2.0,xicduogh,ccgxvspp,1,1
34,34,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,2.0,wxleyezf,bxpfxfdn,1,1
41,41,2.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,fcxhlnwr,cmhcxjea,1,1

In [93]:
b,k,l,m=xv1['seasonal_vaccine'].value_counts(),xv1['xyz_vaccine'].value_counts(),tsfc['xyz_vaccine'].value_counts(),tsfc['seasonal_vaccine'].value_counts()

In [94]:
se=b.sum()
n=k.sum()
o=l.sum()+m.sum()
p=n/o
sea=se/o

In [95]:
li=[]
for i in range(1,38):
    a=xv1[xv1.columns[i]].value_counts()
    li.append(a)

In [96]:
for i in range(37):
    li[i]=li[i].sort_index()

In [97]:
prop=[]
for i in range(37):
    l=[]
    for j in li[i]:
        a=j/(li[i].sum())
        l.append(a)
    prop.append(l)

In [98]:
list=[]
for i in range(37):
    di={}
    v=li[i].index
    u=prop[i]
    for j in range(len(v)):
        di[v[j]]=u[j]
    list.append(di)

In [16]:
li[17]

opinion_xyz_sick_from_vacc
1.0    650
2.0    581
4.0    535
5.0    169
Name: count, dtype: int64

In [99]:
xv2=tsfc.loc[tsfc['seasonal_vaccine']==1]
mi=[]
for i in range(1,38):
    a=xv2[xv2.columns[i]].value_counts()
    mi.append(a)

In [100]:
for i in range(37):
    mi[i]=mi[i].sort_index()

In [101]:
prop1=[]
for i in range(37):
    l=[]
    for j in mi[i]:
        a=j/(mi[i].sum())
        l.append(a)
    prop1.append(l)

In [102]:
mist=[]
for i in range(37):
    di={}
    v=mi[i].index
    u=prop1[i]
    for j in range(len(v)):
        di[v[j]]=u[j]
    mist.append(di)

In [119]:
test_data=pd.read_csv('test_set_features.csv')

In [146]:
td=test_data

In [120]:
test_data.shape

(26708, 36)

In [121]:
test_data=test_data.dropna()

In [122]:
test_data.shape

(6499, 36)

In [123]:
test_data.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird
5,26712,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Own,Employed,mlyzmhmf,"MSA, Principle City",0.0,2.0,fcxhlnwr,cmhcxjea
11,26718,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"> $75,000",Not Married,Own,Employed,fpwskwrf,"MSA, Principle City",0.0,0.0,arjwrbjb,hfxkjkmi

In [124]:
nm=test_data['respondent_id']

In [125]:
test_data=test_data.drop('respondent_id',axis=1)

In [126]:
tdc=test_data.columns

In [142]:
k=[]
for i in range(6499):
    d={}
    u=test_data.iloc[i]
    for j in range(len(u)):
        d[tdc[j]]=u.iloc[j]
    k.append(d)

In [143]:
len(k)

6499

In [145]:
for i in range(6481):
    if k[i][tdc[17]]==3:
        k.remove(k[i])
    elif k[i][tdc[20]]==3:
        k.remove(k[i])

In [130]:
g=[]
for i in range(len(k)):
    h=[]
    for j in range(35):
        h.append(list[j][k[i][tdc[j]]])
    g.append(h)

In [131]:
len(g)

6481

In [132]:
w=[]
for i in range(len(g)):
    a=p
    z=g[i]
    for j in range(35):
        a*=z[j]
    w.append(a)

In [133]:
e=[]
for i in range(len(k)):
    r=[]
    for j in range(35):
        r.append(mist[j][k[i][tdc[j]]])
    e.append(r)

In [134]:
t=[]
for i in range(len(e)):
    a=sea
    z=e[i]
    for j in range(35):
        a*=z[j]
    t.append(a)

In [148]:
td[tdc[17]]

0        1.0
1        1.0
4        4.0
5        1.0
11       1.0
        ...
26698    1.0
26700    2.0
26701    2.0
26702    2.0
26704    1.0
Name: opinion_xyz_sick_from_vacc, Length: 6499, dtype: float64

6499

In [150]:
d={'xyz_vaccine':w,'seasonal_vaccine':t}
m=pd.DataFrame(data=d)
m

       xyz_vaccine  seasonal_vaccine
0     4.451409e-16      1.070739e-15
1     1.962018e-21      1.194246e-20
2     7.244112e-18      7.786933e-18
3     2.916668e-13      1.492817e-13
4     1.394102e-13      2.272567e-13
...            ...               ...
6476  2.490366e-15      1.132267e-14
6477  1.868863e-20      1.619518e-19
6478  1.329002e-21      2.021287e-21
6479  3.274194e-18      7.141318e-18
6480  2.151173e-19      3.068757e-19

[6481 rows x 2 columns]

In [153]:
m.to_csv('sub.csv')